@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */

:root {
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desaturated-blue: hsl(244, 38%, 16%);
  --Soft-violet: hsl(277, 64%, 61%);

  --White: hsl(0, 0%, 100%);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);

  /* ### Primary

- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6) */
}

body {
  font-size: 15px;
  background-color: var(--Very-dark-blue);
  font-family: "Inter", sans-serif;
}

/* card start  */

.container {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  background-color: var(--Dark-desaturated-blue);
  /* width: 1110px; */
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  border-radius: 5px;
}

.right {
  height: 100%;
  background-size: cover;
  background-image: url(../images/image-header-desktop.jpg);
  width: 50%;
  border: none;
  border-radius: 0 5px 5px 0;
  filter: contrast(130%);
}
.layer {
  background-color: hsla(277, 50%, 43%, 0.6);
  width: 100%;
  height: 100%;
}
.right img {
  background-size: cover;
  size: 100%;
}
.left {
  padding: 70px;
  width: 50%;
  height: 100%;
}
.left h1 {
  font-size: 34px;
  color: var(--White);
  padding: 0;
  margin: 0;
  /* font-family: "Lexend Deca", sans-serif; */
}
.left h1 span {
  color: var(--Soft-violet);
}

.left p {
  color: var(--Slightly-transparent-white);
  padding-top: 30px;
  padding-bottom: 20px;
  line-height: 1.7;
  padding-right: 30px;
  padding-bottom: 80px;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  color: var(--White);
}
.stats span {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--Slightly-transparent-white);
  font-weight: 400;
  font-size: 10px;
}
.stats h3 {
  font-size: 25px;
  padding-bottom: 5px;
}
/* card start  */

/* footer start */
.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
  bottom: 40px;
  color: var(--Slightly-transparent-white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* footer end */

@media screen and (max-width: 375px) {
  .card {
    flex-direction: column;
    width: 85%;
    height: 95%;
    justify-content: flex-start;
  }
  .right {
    width: 100%;
    height: 30%;
    border-radius: 5px 5px 0 0;
  }
  .left {
    padding: 10px;
    margin: 0;
    width: 100%;
    height: 60%;
    text-align: center;
  }
  .left h1 {
    padding-bottom: 20px;
  }
  .left h1 {
    font-size: 22px;
    padding: 12px;
  }
  .stats {
    flex-direction: column;
  }
  .left p {
    padding: 0px 15px 30px 15px;
    font-size: 12px;
  }
  .stats span {
    font-size: 8px;
  }
  .stats h3 {
    font-size: 18px;
  }
  .container {
    height: 115vh;
    margin-top: 30px;
  }
  .attribution {
    padding: 15px;
    bottom: 5px;
  }
}
